<div class="product-card">
    <img class="product-img" src="${product.thumbnail}">
    <div class="product-info">
    <p class="product-title">${product.title}</p>
    <p class="product-cost">${product.cost}</p>
    </div>
</div>