<div class="product-card">
    <a href="/posts/{{id}}">
    <img class="product-img" src="/{{thumbnail}}">
    </a>
    <div class="product-info">
        <p class="product-title">{{title}}</p>
        <p class="product-cost">{{description}}</p>
    </div>
</div>
