<div class="product-card">
    <img class="product-img" src="{{thumbnail}}">
    <div class="product-info">
        <p class="product-title">{{title}}</p>
        <p class="product-cost">{{description}}</p>
    </div>
</div>

