<div class="card-body p-4">
    <div class="d-flex flex-start">
        <i class='fas fa-comment' style='font-size:48px;'></i>
        <div>
            <h6 class="fw-bold mb-1">{{username}}</h6>
        <div class="d-flex align-items-center mb-3">
            <p class="mb-0">
            {{createAt}}
            </p>
        </div>
        <p class="mb-0">
            {{text}}
        </p>
        </div>
    </div>
</div>