<header class="site-header">
            <nav class="nav-bar">
            
                <a href="/">Upipe</a>
                <a href="/postvideo">postvideo</a>
                
                <div class="nav-bar-right dropdown">
                        
                        {{#if isLoggedIn}}
                                <form action="/users/logout" method="POST">
                                <input type="hidden" value="{{csrf}}">
                                <button type="submit">log out</button></form>
                                
                                
                                <a href="/users/profile/{{user.userId}}">profile</a>
                        {{else}}
                                 
                                <a href="registration">registration</a>
                                <a href="login">login</a>
                        {{/if}}
                        
                        <a href="/viewpost">viewpost</a>
                        
                        
                </div>
        </nav>
        </header>