<header class="site-header">
            <nav class="nav-bar">
            
                <a href="/">Upipe</a>
                <a href="postvideo">postvideo</a>
                <div class="nav-bar-right dropdown">
                        <a href="registration">registration</a>
                        <a href="login">login</a>
                        <a href="viewpost">viewpost</a>
                        <a href="profile">profile</a>
                </div>
        </nav>
        </header>