<!DOCTYPE html>
<html>
  <head>
    {{!-- <title>{{title}}</title>
    
    <link rel='stylesheet' href='/public/css/style.css' /> --}}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/favicon.ico" sizes="70x70" type="image/ico">
    <link rel="stylesheet" href="/public/css/style.css">
    {{#each js}}
    <script defer src="/public/js/{{this}}"></script>
    {{/each}}

    {{!-- {{#if value}}
    {{/if}}
    {{#unless value}}
    {{/unless}}
    {{#if value}}
    {{#else}}
    {{/else}}
    {{#with value}}
    {{/with}} --}}
    
        
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css"
    rel="stylesheet"
    />
        <title>{{title}}</title>
  </head>
  <body>
    {{#if (nonEmptyObject messages)}}
      {{> flashmessage this}}
    {{/if}}
    {{> header}}
    {{{body}}}
    {{> footer}}
  </body>
</html>
