<!DOCTYPE html>
<html>
  <head>
    {{!-- <title>{{title}}</title>
    <link rel="icon" href="/public/favicon.ico" sizes="70x70" type="image/ico">
    <link rel='stylesheet' href='/public/css/style.css' /> --}}
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script defer src="/public/js/index.js"></script>
        <script defer src="public/js/formValidation.js"></script>
        <link rel="stylesheet" href="/public/css/style.css">
        
        <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css"
    rel="stylesheet"
    />
        <title>upipe</title>
  </head>
  <body>
    {{> header}}
    {{{body}}}
    {{> footer}}
  </body>
</html>
