
    <main>
        <div class="center-form">
            <form action="/users/login"
            method="POST"
            enctype="application/x-www-form-urlencoded">
                <h2> User Login</h2>
                <div class="input-group">
                    <label for="username">UserName: </label>
                    <input type="text" placeholder="Enter Username" name="username" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password"  placeholder="Enter Password" name="password" id="password" required>
                </div>
                <div>
                    <button class=" btn btn-primary btn-block btn-blue"type="submit">Login</button>
                </div>
            </form>
        </div>
    </main>

