
    <main>
        <div class="center-form">
            <form >
                <h2>Upload your video here</h2>
                <div>
                    <label for="">Post Title</label>
                    <input type="text" placeholder="Post Title">
                </div>
                <div>
                    <textarea name="Description" id="Description" cols="20" rows="10" placeholder="Post Description"></textarea>
                </div>
                <div>
                    <label for="">Upload Video</label>
                    <input type="file" accept="video/*" >
                </div>
                <div>
                    <input type="checkbox" name="video">
                    <label for="">I agree with <a href="">Aceptable Use Policy</a></label>
                </div>
                <div>
                    <button class="submit-button" type="submit">Sign up</button>
                </div>
            </form>
        </div>
    </main>
