<main>
    <h2>Profile</h2>
    <div class="profile-list">
        <div class="user-card">
            <div class="product-img">
                <img src="https://fakeimg.pl/200x200/ff0000/000">
            </div>
            <div class="user-info">
                <div class="user-username">Username : {{user.username}}</div>
                <div class="user-email">Email: {{user.email}}</div>
            </div>
        </div>
    </div>
</main>
