<main>
    <h2>Profile</h2>
    <div class="profile-list">
        <div class="profile-card">
            <div class="profile-img">
                <img src="https://fakeimg.pl/200x200/ff0000/000">
            </div>
            
            <div class="profile-edit">{{user.username}}</div>
            <div class="profile-delete">{{user.email}}</div>
        </div>
        {{#if  userPosts}}
            {{#each userPosts}}
                {{> profileCard this}}
            {{/each}}
        {{/if}}
    </div>
    
</main>
