
    <main>
        <div class="center-form">
            <form id="reg-form">
                <h2> User registration</h2>
                <div class="input-group">
                    <label for="username">UserName: </label>
                    <input class="input-text" id="userName" type="text" placeholder="Enter Username" name="username" required>
                    <div class="req-username">
                        <p> <img class="first" src="/public/css/images/cross icon.png">start with a letter</p>
                        <p> <img class="second" src="/public/css/images/cross icon.png">username is more than 3 letters and(or) numbers</p>
                    </div>
                </div>
                <div class="input-group">
                    <label for="email">Email: </label>
                    <input class="input-text" type="email" placeholder="Enter email" name="email" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input class="input-text" id="reg-password"type="password"  placeholder="Enter Password" name="password" id="" required>
                    <div class="req-pass">
                        <p><img class="first"src="/public/css/images/cross icon.png"> password contains an uppercase</p>
                        <p><img class="second"src="/public/css/images/cross icon.png"> password contains a number</p>
                        <p><img class="third"src="/public/css/images/cross icon.png"> password contains a special character: / * - + ! @ # $ ^ & ~ [ ]</p>
                        <p><img class="fourth"src="/public/css/images/cross icon.png"> password is at least 8 characters long</p>
                        
                    </div>
                </div>
                <div class="input-group">
                    <label for="cpassword">Confirm Password</label>
                    <input class="input-text" id="conf-pass"type="password"  placeholder="Reenter Password" name="cpassword" id="" required>
                    <div class="confirm-pass">
                        <p><img class="first"src="/public/css/images/cross icon.png"> password matches</p>
                    </div>
                    
                </div>
                <div class="checkbox-group">
                    <input type="checkbox" name="age" required>
                    <label for="">I am 13 or older</label>
                </div>
                <div class="checkbox-group">
                    <input type="checkbox" name="policies" required>
                    <label for="">I agree with <a href="">TOS and Privacy rules</a></label>
                </div>
                <div>
                    <button class="submit-button" type="submit">Sign up</button>
                </div>

            </form>
        </div>
    </main>

