
    <main>
        <h2>Post</h2>
        <ul>
            <li>post title</li>
            <li>author</li>
            <li>creation time</li>
            <li><img src="https://fakeimg.pl/350x200/ff0000/000"></li>
            <li>comment</li>
        </ul>
    </main>
