html {
  font-size: 100%;
}

body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  
}

.site-header {
  background-color:#0F1111;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

h1 {
  margin-bottom: 0;
  color: rgb(28, 168, 219);
}

.nav-bar {
  background-color: #333;
  overflow: hidden;
}

.nav-bar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.nav-bar a:hover {
  background-color: #ddd;
  color: black;
}

.nav-bar a.active {
  background-color: #04AA6D;
  color: white;
}

.nav-bar-right {
  float: right;
  padding-right: 10px;
}





main > h2 {
  text-align: center;
}

form{
  padding-left: 350px;
  
  display: grid;
  grid-auto-flow: row;
  width: 50%;
  gap: 5px;
  
}

.input-text{
  padding:2px 4px;
  border-radius:.35rem;
}

.input-group{
  display:flex;
  flex-direction: column;
}


.submit-button {
  background-color: #00B7FF;
  color: white;
  border: none;
  border-radius: .45rem;
  font-size: 20px;
}

.submit-button:hover {
  font-size: 40px;
  background-color: rgb(208, 109, 17);
}



.site-footer {
  color: beige;
  background-color: rgb(60, 184, 237);
  text-align: center;
  padding: 12px;
  font-size: 1.5rem;
  margin-top: 300px;
}



.valid-text {
  outline: solid green;
}
.invalid-text {
  outline: solid red;
}


.req-username {
  
  display: none;
}

.req-pass {
  display: none;
}

.confirm-pass{
  display:none;
}


div img {
  height: 100%;
  width: 100%;
}


.product-list{
  display:grid;
  padding:10px;
  gap:10px;
  grid-auto-rows: minmax(200px, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.product-card {
  display:grid;
  grid-template-rows: 80% 20%;
  grid-template-areas: 
  "image image"
  "title title";
}

.product-img {
  grid-area: image;
}

.product-info {
 grid-area: title;
 display: grid;

}
